<!-- Social links list -->
<div class="social-links">
    {% if site.facebook %}
    <a href="{{ site.facebook }}" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Facebook</span>
        {% include icons/facebook.html %}
    </a>
    {% endif %}
    {% if site.twitter %}
    <a href="{{ site.twitter }}" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Twitter</span>
        {% include icons/twitter.html %}
    </a>
    {% endif %}
    <!--
    <a href="https://www.instagram.com/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Instagram</span>
        {% include icons/instagram.html %}
    </a>
    <a href="https://github.com/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">GitHub</span>
        {% include icons/github.html %}
    </a>
    <a href="https://codepen.io/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">CodePen</span>
        {% include icons/codepen.html %}
    </a>
    <a href="https://dev.to/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Dev</span>
        {% include icons/devdotto.html %}
    </a>
    <a href="https://www.reddit.com/" class="btn btn-icon btn-secondary" target="_blank" rel="noopener">
        <span class="screen-reader-text">Reddit</span>
        {% include icons/reddit.html %}
    </a>
    -->
</div>
