<!DOCTYPE html>
<html lang="{{ site.locale }}">
    <head>
        <!-- Document Settings -->
        <meta charset="utf-8">
        <!-- Page Meta -->
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Styles -->
        {% include custom-fonts.html %}
        <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}" />
        <!-- Outputs SEO meta+structured data and other important settings -->
        {% seo %}
    </head>
    <body class="{{ page.classes }}{% if site.enable_content_animation %} animate-fadeInDown{% endif %}">

        <div id="page" class="site">
            <!-- Inserts the main content -->
            {{ content }}
            <!-- Includes the theme footer - partials/footer.hbs -->
            {% include footer.html %}
        </div>
        <div class="site-overlay"></div>

        <!-- Includes the theme sidebar - partials/sidebar.hbs -->
        {% include sidebar.html %}

        <!-- Scripts -->
        <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
        {% if page.layout == "post" or page.layout == "page" %}
        <script src="{{ '/assets/js/post.js' | relative_url }}"></script>
        {% endif %}

        <!-- Outputs important scripts and data -->
        {{ site.ghost_foot }}

    </body>
</html>
