---
layout: default
---

{% include header.html %}

<main id="main" class="content outer">

    <article class="post-full inner">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>

        {% if page.feature_image %}
        <div class="post-thumbnail">
            <img class="post-thumbnail-image"
                 srcset="{{ page.feature_image | img_url: 'xs' }} 300w, {{ page.feature_image | img_url: 's' }} 600w, {{ page.feature_image | img_url: 'm' }} 800w, {{ page.feature_image | img_url: 'l' }} 1100w, {{ page.feature_image | img_url: 'xl' }} 1600w"
                 sizes="(max-width: 1140px) 94vw, 1100px"
                 src="{{ page.feature_image | img_url: 'l' }}"
                 alt="{{ page.title }}" />
        </div>
        {% endif %}

        <div class="post-content">
            {{ content }}
        </div>

        {% if page.tags %}
        <footer class="post-footer">
            <p class="post-tags">
                {% for tag in page.tags %}
                    {{ tag }}
                {% endfor %}
            </p>
        </footer>
        {% endif %}
    </article>

</main>
